<h3>Hubs List</h3>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>City</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let h of hubs; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ h.name }}</td>
      <td>{{ h.city }}</td>
      <td>{{ h.status }}</td>
    </tr>

    <tr *ngIf="hubs.length === 0">
      <td colspan="4" class="text-center text-danger">
        No hubs found
      </td>
    </tr>

  </tbody>
</table>
