<h3>Warehouse List</h3>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Location</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let w of warehouses; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ w.name }}</td>
      <td>{{ w.location }}</td>
      <td>{{ w.capacity }}</td>
    </tr>

    <tr *ngIf="warehouses.length === 0">
      <td colspan="4" class="text-center text-danger">
        No warehouses found
      </td>
    </tr>

  </tbody>
</table>
