<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">

  <a class="navbar-brand">Analogistics</a>

  <ul class="navbar-nav me-auto">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        Warehouses
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item"
             routerLink="/dashboard/warehouses">
            Warehouse List
          </a>
        </li>
        <li>
          <a class="dropdown-item"
             routerLink="/dashboard/warehouses/create">
            Create Warehouse
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        Zones
      </a>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item"
             routerLink="/dashboard/zones">
            Zone List
          </a>
        </li>
        <li>
          <a class="dropdown-item"
             routerLink="/dashboard/zones/create">
            Create Zone
          </a>
        </li>
      </ul>
    </li>
   <li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown">
    Products
  </a>

  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" routerLink="/dashboard/products">
        Product List
      </a>
    </li>

    <li>
      <a class="dropdown-item" routerLink="/dashboard/products/create">
        Product Entry
      </a>
    </li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/dashboard/delivery">
    Delivery
  </a>
</li>
  </ul>

  <button class="btn btn-outline-light ms-auto"
          (click)="logout()">
    Logout
  </button>

</nav>
