<div class="warehouse-bg">
  <div class="warehouse-content">

    <div class="container-fluid">
      <div class="warehouse-card shadow">

        <h4 class="mb-3">Logistics List</h4>

        <div *ngIf="loading" class="text-center py-4">
          Loading logistics...
        </div>

        <div *ngIf="!loading" class="table-responsive">
          <table class="table table-bordered table-hover table-sm text-nowrap">

            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Warehouse</th>
                <th>Zone</th>
                <th>Product</th>
                <th>Type</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Delivery Date</th>
                <th>Transport</th>
                <th>Vehicle</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let l of logistics; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ l.warehouse_name }}</td>
                <td>{{ l.zone_name }}</td>
                <td>{{ l.product_name }}</td>
                <td>{{ l.product_type }}</td>
                <td>{{ l.product_category }}</td>
                <td>{{ l.quantity }}</td>
                <td>{{ l.delivery_date }}</td>
                <td>{{ l.transport_type }}</td>
                <td>{{ l.vehicle_number }}</td>

                <td>
                  <span class="badge bg-info">{{ l.status }}</span>
                </td>

                <td class="text-center">
                  <i class="bi bi-eye-fill text-info me-2"
                     role="button"
                     (click)="view(l.id)"></i>

                  <i class="bi bi-pencil-fill text-warning"
                     role="button"
                     (click)="edit(l.id)"></i>
                </td>
              </tr>

              <tr *ngIf="logistics.length === 0">
                <td colspan="12" class="text-center text-danger">
                  No logistics found
                </td>
              </tr>
            </tbody>

          </table>
        </div>

      </div>
    </div>

  </div>
</div>
